certifi==2022.6.15
charset-normalizer==2.1.1
fuzzywuzzy==0.18.0
idna==3.3
jarowinkler==1.2.3
Levenshtein==0.20.5
numpy==1.23.2
pandas==1.4.3
python-dateutil==2.8.2
python-Levenshtein==0.20.5
pytz==2022.6
rapidfuzz==2.10.2
requests==2.28.1
six==1.16.0
urllib3==1.26.12
